<main>
    <!--  Start about  -->
    <section class="ui-about-st2">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="info">
                        <h6 class="fsz-20 mb-20">درباره زینو سازه</h6>
                        <div class="txt fsz-35 lh-2">
                            زینو سازه، پیشگام در طراحی و ساخت غرفه‌های نمایشگاهی، با بیش از ۱۵ سال تجربه درخشان در ارائه
                            راهکارهای خلاقانه و نوآورانه در صنعت غرفه‌سازی.
                        </div>
                        <div class="numbers">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="item">
                                        <h2 class="fsz-50 mb-15 text-light"><span class="counter">15</span>+</h2>
                                        <div class="text fsz-20">سال تجربه</div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="item">
                                        <h2 class="fsz-50 mb-15 text-light"><span class="counter">1500</span>+</h2>
                                        <div class="text fsz-20">پروژه موفق</div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="item">
                                        <h2 class="fsz-50 mb-15 text-light"><span class="counter">500</span>+</h2>
                                        <div class="text fsz-20">مشتری راضی</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="img th-550 ps-lg-5">
                        <img src="/assets/img/hero1.jpg" alt="" class="img-cover radius-4">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End about  -->


    <!--  Start experience  -->
    <section class="ui-experience-st2">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="lg-title-st2">
                            <h2 class="fsz-50">تجربیات و<br>دستاوردها</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="exp-years">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <div class="years-slider">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <h5>۱۳۸۷</h5>
                                            </div>
                                            <div class="swiper-slide">
                                                <h5>۱۳۹۲</h5>
                                            </div>
                                            <div class="swiper-slide">
                                                <h5>۱۳۹۶</h5>
                                            </div>
                                            <div class="swiper-slide">
                                                <h5>۱۴۰۲</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="exp-slider pt-lg-5">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <h5 class="fsz-24 mb-20">تاسیس شرکت</h5>
                                                    <div class="icon-wrapper">
                                                        <div class="icon-70 me-30 flex-shrink-0">
                                                            <img src="/assets/img/icons/layers.svg" alt="">
                                                        </div>
                                                        <div class="text fsz-18">شروع فعالیت</div>
                                                    </div>
                                                    <div class="date">۱۳۸۷</div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <h5 class="fsz-24 mb-20">توسعه خدمات</h5>
                                                    <div class="icon-wrapper">
                                                        <div class="icon-70 me-30 flex-shrink-0">
                                                            <img src="/assets/img/icons/layers.svg" alt="">
                                                        </div>
                                                        <div class="text fsz-18">گسترش فعالیت‌ها</div>
                                                    </div>
                                                    <div class="date">۱۳۹۲</div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <h5 class="fsz-24 mb-20">دریافت گواهینامه‌ها</h5>
                                                    <div class="icon-wrapper">
                                                        <div class="icon-70 me-30 flex-shrink-0">
                                                            <img src="/assets/img/icons/layers.svg" alt="">
                                                        </div>
                                                        <div class="text fsz-18">استانداردهای بین‌المللی</div>
                                                    </div>
                                                    <div class="date">۱۳۹۶</div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <h5 class="fsz-24 mb-20">رهبر بازار</h5>
                                                    <div class="icon-wrapper">
                                                        <div class="icon-70 me-30 flex-shrink-0">
                                                            <img src="/assets/img/icons/layers.svg" alt="">
                                                        </div>
                                                        <div class="text fsz-18">پیشرو در صنعت</div>
                                                    </div>
                                                    <div class="date">۱۴۰۲</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progress-sec">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="progress-card">
                                <div class="progress" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar" style="width: 95%"><small class="num">۹۵٪</small></div>
                                </div>
                                <h6 class="fsz-24 mt-15">طراحی غرفه</h6>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="progress-card">
                                <div class="progress" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar" style="width: 90%"><small class="num">۹۰٪</small></div>
                                </div>
                                <h6 class="fsz-24 mt-15">اجرا و ساخت</h6>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="progress-card">
                                <div class="progress" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar" style="width: 85%"><small class="num">۸۵٪</small></div>
                                </div>
                                <h6 class="fsz-24 mt-15">خدمات پشتیبانی</h6>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="progress-card">
                                <div class="progress" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar" style="width: 95%"><small class="num">۹۵٪</small></div>
                                </div>
                                <h6 class="fsz-24 mt-15">رضایت مشتریان</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End about  -->


    <!--  Start testimonials  -->
    <section class="ui-testimonials-st1">
        <div class="container">
            <div class="section-head-st1 mb-60 js-splittext-lines">
                <h2>نظرات مشتریان</h2>
                <a href="#" class="fsz-16 text-uppercase text">[مشاهده همه]</a>
            </div>
            <div class="content pt-30 wow fadeInUp slow" data-wow-delay="0.2s">
                <div class="row gx-0">
                    <div class="col-lg-2">
                        <div class="arrows-st1">
                            <button class="custom-button-prev"><i class="fas fa-chevron-up"></i></button>
                            <button class="custom-button-next"><i class="fas fa-chevron-down"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="testimonials-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testi-card">
                                        <div class="main-txt text fsz-30 lh-3">
                                            "همکاری با زینو سازه تجربه‌ای فوق‌العاده بود. طراحی خلاقانه و اجرای حرفه‌ای
                                            غرفه ما در نمایشگاه باعث تمایز و جذب مخاطبان زیادی شد."
                                        </div>
                                        <div class="user-inf d-flex align-items-center text-uppercase mt-30">
                                            <h5 class="fsz-30">علی محمدی</h5>
                                            <span class="mx-3">-</span>
                                            <p class="fsz-16">مدیر بازاریابی ایران‌خودرو</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-card">
                                        <div class="main-txt text fsz-30 lh-3">
                                            "کیفیت کار و تعهد به زمان‌بندی از ویژگی‌های بارز تیم زینو سازه است. ما برای
                                            چندمین سال متوالی از خدمات این شرکت استفاده می‌کنیم."
                                        </div>
                                        <div class="user-inf d-flex align-items-center text-uppercase mt-30">
                                            <h5 class="fsz-30">سارا کریمی</h5>
                                            <span class="mx-3">-</span>
                                            <p class="fsz-16">مدیر روابط عمومی سامسونگ</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-card">
                                        <div class="main-txt text fsz-30 lh-3">
                                            "طراحی منحصر به فرد و اجرای به موقع غرفه ما توسط زینو سازه، تأثیر مستقیمی در
                                            موفقیت حضور ما در نمایشگاه نفت و گاز داشت."
                                        </div>
                                        <div class="user-inf d-flex align-items-center text-uppercase mt-30">
                                            <h5 class="fsz-30">حسین رضایی</h5>
                                            <span class="mx-3">-</span>
                                            <p class="fsz-16">مدیر نمایشگاهی شرکت نفت</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-card">
                                        <div class="main-txt text fsz-30 lh-3">
                                            "نوآوری در طراحی و استفاده از متریال‌های مدرن توسط تیم زینو سازه، غرفه ما را
                                            به یکی از جذاب‌ترین غرفه‌های نمایشگاه تبدیل کرد."
                                        </div>
                                        <div class="user-inf d-flex align-items-center text-uppercase mt-30">
                                            <h5 class="fsz-30">مریم احمدی</h5>
                                            <span class="mx-3">-</span>
                                            <p class="fsz-16">مدیر برند پگاه</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="avatars">
                            <div class="gallery-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="avatar-wrapper">
                                            <span class="arrow pe-10"> <img src="/assets/img/caret-left-solid.svg"
                                                    alt=""> </span>
                                            <div class="avatar icon-60 rounded-circle overflow-hidden">
                                                <img src="/assets/img/avatar1.png" alt="" class="img-cover">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="avatar-wrapper">
                                            <span class="arrow pe-10"> <img src="/assets/img/caret-left-solid.svg"
                                                    alt=""> </span>
                                            <div class="avatar icon-60 rounded-circle overflow-hidden">
                                                <img src="/assets/img/avatar2.png" alt="" class="img-cover">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="avatar-wrapper">
                                            <span class="arrow pe-10"> <img src="/assets/img/caret-left-solid.svg"
                                                    alt=""> </span>
                                            <div class="avatar icon-60 rounded-circle overflow-hidden">
                                                <img src="/assets/img/avatar3.png" alt="" class="img-cover">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="avatar-wrapper">
                                            <span class="arrow pe-10"> <img src="/assets/img/caret-left-solid.svg"
                                                    alt=""> </span>
                                            <div class="avatar icon-60 rounded-circle overflow-hidden">
                                                <img src="/assets/img/avatar1.png" alt="" class="img-cover">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="avatar-wrapper">
                                            <span class="arrow pe-10"> <img src="/assets/img/caret-left-solid.svg"
                                                    alt=""> </span>
                                            <div class="avatar icon-60 rounded-circle overflow-hidden">
                                                <img src="/assets/img/avatar2.png" alt="" class="img-cover">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="avatar-wrapper">
                                            <span class="arrow pe-10"> <img src="/assets/img/caret-left-solid.svg"
                                                    alt=""> </span>
                                            <div class="avatar icon-60 rounded-circle overflow-hidden">
                                                <img src="/assets/img/avatar3.png" alt="" class="img-cover">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  End testimonials  -->
</main>